.footer {
  // position: fixed;
  background: #fffdf1;
  color: #323232;
  text-align: center;
  padding: 0.8rem;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 1px;
  border-radius: 15px;
  font-size: 1.2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 0 12px 0 rgba(0,0,0,0.4);
  z-index: 1000000!important;
}

.footer small {
  display: block;
  margin: 4px 0;
}
