<div class="box-container">
  <div class="body-part">
    <div class="edu-int-container">

      <!-- Education Box -->
      <div class="card">
        <div class="timeline">
          <div class="timeline-item" *ngFor="let edu of educationList">
            <div class="circle"></div>
            <div class="timeline-content">
              <mat-expansion-panel [disabled]="edu.disabled" [ngClass]="{'coming-soon-card': edu.disabled, 'expertise-card': !edu.disabled}">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ edu.title }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="expertise-content" *ngIf="!edu.disabled">
                  <p *ngFor="let d of edu.details"><b>{{ d.label }}:</b> {{ d.value }}</p>
                  <div class="skills-badges">
                    <span class="badge" *ngFor="let badge of edu.badges">{{ badge }}</span>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </div>

      <!-- Internship Box -->
      <div class="card">
        <div class="timeline">
          <div class="timeline-item" *ngFor="let intern of internshipList">
            <div class="circle"></div>
            <div class="timeline-content">
              <mat-expansion-panel [disabled]="intern.disabled" [ngClass]="{'coming-soon-card': intern.disabled, 'expertise-card': !intern.disabled}">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ intern.title }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="expertise-content" *ngIf="!intern.disabled">
                  <mat-panel-description *ngIf="intern.description">
                    {{ intern.description }}
                  </mat-panel-description>
                  <p [innerHTML]="intern.content"></p>
                  <div class="skills-badges">
                    <span class="badge" *ngFor="let badge of intern.badges">{{ badge }}</span>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
