<app-header></app-header>

<section id="home" class="section">
  <app-home></app-home>
</section>

<section id="about" class="section">
  <app-about></app-about>
</section>

<section id="education" class="section">
  <app-education></app-education>
</section>

<section id="skills" class="section">
  <app-skills></app-skills>
</section>

<section id="projects" class="section">
  <app-projects></app-projects>
</section>

<section id="achievements" class="section">
  <app-achievements></app-achievements>
</section>

<section id="contact" class="section">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
