<app-header></app-header>
<div id="home"> 
<app-home></app-home>
</div>
<mat-divider></mat-divider> 

<div id="about">
  <app-about></app-about>
</div>
<mat-divider></mat-divider>

<div id="education">
  <app-education></app-education>
</div>
<mat-divider></mat-divider>

<div id="sills">
  <app-skills></app-skills>
</div>
<mat-divider></mat-divider>


<div id="projects">
  <app-projects></app-projects>
</div>
<mat-divider></mat-divider>

<div id="achievements">
 <app-achievements></app-achievements>
</div>
<mat-divider></mat-divider>

<div id="contact">
  <app-contact></app-contact>
</div>
<mat-divider></mat-divider>



<app-footer></app-footer>

