<div class="box-container">
  <div class="body-part">
  <div class="slider-container">
    <div class="slider">
      <div
        *ngFor="let project of achievements; let i = index"
        class="project-card"
        [ngClass]="{
          active: i === currentIndex,
          prev: i === (currentIndex - 1 + achievements.length) % achievements.length,
          next: i === (currentIndex + 1) % achievements.length,
          hidden: i !== currentIndex && i !== (currentIndex - 1 + achievements.length) % achievements.length && i !== (currentIndex + 1) % achievements.length
        }"
      >
        <div class="project-icon">
          <i class="{{ project.icon }}"></i>
        </div>
        <h4>{{ project.title }}</h4>
        <p [innerHTML]="project.description"></p>
        <button class="github-btn">
          <a href="{{ project.link }}" target="_blank">Check It Now</a>
        </button>
      </div>
    </div>

    <!-- Dots -->
    <div class="dots">
      <span
        *ngFor="let project of achievements; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      ></span>
    </div>

    <!-- Buttons -->
  
  </div>
</div>

</div>